<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
                        package="org.vimeoid"
                        android:versionCode="1"
                        android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <provider android:name=".connection.simple.VimeoProvider"
                  android:authorities="org.vimeoid.simple.provider" />
        <!-- <activity android:label="@string/app_name" android:name="LauncherActivity"
                       android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">  -->
        <activity android:label="@string/app_name" 
                  android:name=".activity.Welcome"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".activity.ReceiveCredentials">
            <intent-filter>  
                <action android:name="android.intent.action.VIEW"></action>  
                <category android:name="android.intent.category.DEFAULT"></category>  
                <category android:name="android.intent.category.BROWSABLE"></category>  
                <data android:scheme="vimeoid" android:host="oauth.done"></data>  
            </intent-filter>             
        </activity>        
        <activity android:label="Video"
                  android:name=".activity.guest.item.Video">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="org.vimeoid.action.EDIT_NOTE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.video" />
            </intent-filter>
        </activity>
        <activity android:label="Videos"
                  android:name=".activity.guest.list.Videos">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.vimeo.video" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.video" />
            </intent-filter>
        </activity>        
    </application>    
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />      
</manifest> 