<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
                        package="org.vimeoid"
                        android:versionCode="1"
                        android:versionName="0.0.8">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <!-- PROVIDER -->
        <provider android:name=".connection.simple.VimeoProvider"
                  android:authorities="org.vimeoid.simple.provider" />
        <!-- <activity android:label="@string/app_name" android:name="LauncherActivity"
                       android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">  -->
        <!-- WELCOME -->       
        <activity android:label="@string/app_name" 
                  android:name=".activity.Welcome"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- CREDENTIALS -->
        <activity android:label="@string/app_name" 
                  android:name=".activity.ReceiveCredentials">
            <intent-filter>  
                <action android:name="android.intent.action.VIEW"></action>  
                <category android:name="android.intent.category.DEFAULT"></category>  
                <category android:name="android.intent.category.BROWSABLE"></category>  
                <data android:scheme="vimeoid" android:host="oauth.done"></data>  
            </intent-filter>
        </activity>
        <!-- VIDEO -->        
        <activity android:label="Video"
                  android:name=".activity.guest.item.VideoActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.video" />
            </intent-filter>
        </activity>
        <!-- VIDEOS -->
        <activity android:label="Videos"
                  android:name=".activity.guest.list.VideosActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.vimeo.video" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.video" />
            </intent-filter>
        </activity>
        <!-- CHANNEL -->
        <activity android:label="Channel"
                  android:name=".activity.guest.item.ChannelActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.channel" />
            </intent-filter>
        </activity>        
        <!-- CHANNELS -->
        <activity android:label="Channels"
                  android:name=".activity.guest.list.ChannelsActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.vimeo.channel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.channel" />
            </intent-filter>
        </activity>
        <!-- ALBUM -->
        <activity android:label="Album"
                  android:name=".activity.guest.item.AlbumActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.album" />
            </intent-filter>
        </activity>        
        <!-- ALBUMS -->
        <activity android:label="Albums"
                  android:name=".activity.guest.list.AlbumsActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.vimeo.album" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.album" />
            </intent-filter>
        </activity>        
        <!-- USER -->
        <activity android:label="User"
                  android:name=".activity.guest.item.UserActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.vimeo.user" />
            </intent-filter>
        </activity>
        <!-- PLAYER -->
        <activity android:label="Player"
                  android:name=".activity.Player" />
    </application>    
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
</manifest> 